{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}&#8482;</title>
    <link type="text/css" href="{% static 'styles/style.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'styles/shop.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'styles/about.css' %}" rel="stylesheet" />
    <link type="x-icon" href="{% static 'img/buka.ico' %}" rel="icon" />
    <script src="{% static 'js/jquery.js' %}"></script>

</head>
<body>

    <div id="header">
        <div class="wrap">
            
            <div class="site-id logo">
                <img src="{% static 'img/buka-logo.svg' %}" />
            </div>

            <div class="pry-nav">
                <ul>
                    <a href="{% url 'website:index' %}"><li>Home</li></a>
                    <a href="{% url 'website:menu' %}"><li>Menu</li></a>
                    <a href="{% url 'website:about' %}"><li>About</li></a>
                    <!-- <a href="pages/contact.html"><li>Contact Us</li></a> -->
                </ul>  
                
                <div class="app-auth">
                    <button>
                        <img src="{% static 'img/icons/carticon.svg' %}" />
                        <p>Cart(0)</p>
                    </button>
                    <button>
                        <img src="{% static 'img/icons/accounticon.svg' %}" />
                        <p>Login</p>
                    </button>
                </div>
                
            </div>

            <script src="{% static 'js/toggle.js' %}"></script>
            
            <div class="site-id nav">

                <svg version="1.1"  x="0px" y="0px"
                    viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
                    
                    <g>
                    <!-- Add a class to each rect element to style and target them individually -->
                    <rect x="4.6" y="10.5" class="st0 bar1" width="30.8" height="4"/>
                    <rect x="4.6" y="18" class="st0 bar2" width="30.8" height="4"/>
                    <rect x="4.6" y="25.5" class="st0 bar3" width="30.8" height="4"/>
                    </g>

                </svg>

            </div>  
             
        </div>

    </div>
    <!-- <div class="back-drop"></div> -->
    <div style="height:70px;"></div>

    {% block landing %}{% endblock %}

    <!-- main section -->
    <div id="main">

        {% block content %}{% endblock %}

    </div>

    <div class="footer">

        <div class="footer-wrap">



            <div class="footer-text-container">

                <ul>
                    <li class="footer-heading">{{ business.name_of_business }}&#8482;</li>
                    <li>{{ business.phrase_of_business }}</li>
                    <li>{{ business.address_of_business }}</li>
                    <li>Monday - Saturday 8:00AM - 5:30PM <br/>Sundays Closed</li>
                    <li><a href="tel:{{ business.phone_of_business }}" >{{ business.phone_of_business }}</a></li>
                    
                </ul>

                <ul>
                    <li class="footer-heading">Important Links</li>
                    <a href="{% url 'website:index' %}"><li>Home</li></a>
                    <a href="{% url 'website:menu' %}"><li>Menu</li></a>
                    <a href="{% url 'website:about' %}"><li>About</li></a>
                </ul>   
                <ul>
                    <li class="footer-heading">Reach Out</li>
                    <a href="index.html"><li>Call</li></a>
                    <a href="pages/about.html"><li>Whatsapp Message</li></a>
                    <a href="pages/services.html"><li>Email</li></a>
                </ul>   

            </div>
           

            <div class="copyright">
                <!-- <div class="site-id">
                        <img src="img/estate-01.png" />
                </div> -->
                <h4>Copyright © {{ business.name_of_business }} &#8482;</h4>

                <div class="social-media">
                
                    <div class="contact-icon">
                        <img src="{% static 'img/social media/fb-01.svg' %}"/>
                    </div>

                
                    <div class="contact-icon">
                        <img src="{% static 'img/social media/whatsapp-01.svg' %}"/>
                    </div>

                
                    <div class="contact-icon">
                        <img src="{% static 'img/social media/tiktok-01.svg' %}"/>
                    </div>

                    <div class="contact-icon">
                        <img src="{% static 'img/estate-01.png' %}"/>
                    </div>

                </div>

            </div> 

          
        </div>


    </div>

</body>
</html>